body {
    margin: 50px;
    text-align: center;

}

footer {
    font-family: monospace;
}

.snippets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

img {
    width: 700px;
}